@page "/"
@inject ModelProvider ModelProvider 

<PageTitle>AP Models</PageTitle>

@if (models == null || !models.Any())
{
    <p>No models uploaded yet.</p>
}
else
{
    <ul>
        @foreach (var model in models)
        {
            <li>@model.Title - @model.Category</li>
        }
    </ul>
}

@code
{
    private List<Model.DigitalModel> models;

    protected override void OnInitialized()
    {
        models = ModelProvider.GetAllModels();
    }
}
