@page "/Upload"

<h5>Upload Page</h5>

@*Allows the user to input a Model Name:*@
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-defult">Model Name:</span>
    <input type="text" class="form-control" aria-label="Enter Here" aria-describedy="inputGroup-sizing-defullt">
</div>

@*Allows the user to input the Files of a 3D model*@
<div class="mb-3">
 <label for="="formFile" class="form-label">Please Input The Model Files</label>
 <input class="form-control" type="file" id="formFile" accept=".obj,.fbx,.stl,.gltf,.glb" multiple>
</div>

@*Allows the user to input images of a 3D model*@
<div class="mb-3">
    <label for="=" formFile" class="form-label">Please Input Images of the 3D Model</label>
    <input class="form-control" type="file" id="formFile" accept=".jpf,.jpeg,.png" multiple>
</div>

@*Allows the user to input a description*@
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-defult">Description:</span>
    <input type="text" class="form-control" aria-label="Enter Here" aria-describedy="inputGroup-sizing-defullt">
</div>

@*Allows the user to input a description*@
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-defult">Specifications</span>
    <input type="text" class="form-control" aria-label="Enter Here" aria-describedy="inputGroup-sizing-defullt">
</div>

<div class="dropdown"> 
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Category 
    </button>
    <ul class="dropdown-menu"> 
        <li><a class="dropdown-item" href="#">Vehicles</a></li>
        <li><a class="dropdown-item" href="#">Sci-Fi</a></li>
        <li><a class="dropdown-item" href="#">Animal</a></li>
        <li><a class="dropdown-item" href="#">Horror</a></li>
        <li><a class="dropdown-item" href="#">Videogame</a></li>
        <li><a class="dropdown-item" href="#">Character</a></li>
    </ul>
</div>

<div class="btn-group">
   <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        File Format 
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">obj</a></li>
        <li><a class="dropdown-item" href="#">fbx</a></li>
        <li><a class="dropdown-item" href="#">stl</a></li>
        <li><a class="dropdown-item" href="#">gltf</a></li>
        <li><a class="dropdown-item" href="#">glb</a></li>
    </ul>
</div>



@code 
{
   

}
